/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: lightslategray;
}

#loginBtn {
  background-color: rgb(93, 185, 216);
  color: whitesmoke;
  border: solid black 1px;
}

#loginBtn:hover {
  background-color: rgb(9, 94, 122);
}

#login {
  background-color: lightslategray;
}

#createAccount {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  cursor: pointer;
}

#createAccount:hover {
  color: rgb(43, 54, 65);
}